// variable color
$blue-1: #111d2c;
$blue-2: #112a45;
$blue-3: #15395b;
$blue-4: #164c7e;
$blue-5: #177ddc;
$blue-6: #177ddc;
$blue-7: #3c9ae8;
$blue-8: #65b7f3;
$blue-9: #8dcff8;
$blue-10: #b7e3fa;

$cyan-1: #112123;
$cyan-2: #113536;
$cyan-3: #144848;
$cyan-4: #146262;
$cyan-5: #138585;
$cyan-6: #13a8a8;
$cyan-7: #33bcb7;
$cyan-8: #58d1c9;
$cyan-9: #84e2d8;
$cyan-10: #b2f1e8;

$gray-0: #7a7b81;
$gray-1: #707177;
$gray-2: #818288;

// variable font-size
$fs-0: 13px;
$fs-1: 15px; //default
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;
$fs-5: 60px;

// variable font-family
$ff-0: "Roboto", sans-serif;

// line height
$line-height-0: 1.4;
// variable font-weight
$fw-0: 400;
$fw-1: 500;
$fw-2: 600;
$fw-3: 700;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 50px;

//variable padding
$pd-0: 3px; //default
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 25px;
$pd-6: 40px;
$pd-7: 80px;

// variable width
$width-0: 30px;
$width-1: 50px;
$width-2: 100px;

// variable height
$height-0: 30px;
$height-1: 50px;
$height-2: 100px;

// variable line height
$line-height-0: 30px;

// position
$position-0: 10%;
$position-1: 30%;
$position-2: 50%;
$position-3: 60%;
$position-4: 80%;

// border-radius
$border-radius-0: 10px;
$border-radius-1: 25px;
$border-radius-2: 50px;
$border-radius-3: 50%;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
